@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply text-text
}

.center {
  @apply flex justify-between items-center
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.link {
  @apply flex items-center gap-3 py-5 px-10 font-semibold text-link capitalize transform transition-colors duration-75
}

.link:hover {
  @apply bg-grey underline
}

.active {
  color: #BE123C;
  background-color: rgba(190, 18, 60, 0.10);
}